<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projekt_WypozyczalniaFilmow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projekt_WypozyczalniaFilmow.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="parallax container-fluid">
                <nav class="navbar-dark">
                    <ul class="nav-list">
                        <li class="logos">
                            <a class="logo navbar-brand" type="button">
                                <i class="bi bi-camera-reels-fill"></i>
                                RentalMovie
                                </a>
                        </li>
                        <li class="menus">
                            <button class="menu btn btn-default" type="button">
                                Strona główna
                            </button>
                            <button class="menu btn btn-default" type="button">
                                Informacje
                            </button>
                            <button class="menu btn btn-default" role="button">
                                Kontakt
                            </button>
                            <button class="menu btn btn-default" type="button">
                                Wypożycz teraz
                            </button>
                            <button class="menu btn btn-default" type="button">
                                <i class="bi bi-list"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
                <div>
                    <div class="text_1">Movie</div>
                    <div class="text_2">
                        Platforma do wypożyczania filmów na życzenie. </br>
                        Oglądaj wygodnie premierowe produkcje prosto z kina i hity filmowe.
                        </div>
                    <div class="rent"><button class="btn btn-default rent_btn">Rent</button></div>
                </div>
                
                
    </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Projekt_WypozyczalniaFilmow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
