@{
    ViewData["Title"] = "Home Page";
}



<div class="row d-flex home-index">

        <div class="col-2 menu">
            <a class="nav-link p-4 logo" asp-controller="Home" asp-action="Index">Logo</a>
            <a class="nav-link p-4 menu-element" asp-controller="Home" asp-action="Index"><h4>Home</h4></a>
            <a class="nav-link p-4 menu-element" asp-controller="Movies" asp-action="Index"><h4>Movies</h4></a>
            <a class="nav-link p-4 menu-element" asp-controller="Lends" asp-action="Index"><h4>My Lends</h4></a>
            <a class="nav-link p-4 menu-element" asp-controller="Lends" asp-action="Index"><h4>Profile</h4></a>
            <a class="nav-link p-4 menu-element" asp-controller="Users" asp-action="LogoutAction">Log out</a>
        </div>
        <div class="col-10 d-flex">
            <div class="row content-admin">
                <div class="row home-page">
                    <div class="col-12 ">
                    <h2 class="home-page-title">
                    SPIDER-MAN: </br>
                    INTO THE SPIDER-VERSE
                </h2>
                </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="home-page-paragraph">
                    Spider-Man: Into the Spider-Verse
                    2018
                    1 godz. 57 min.</br>
                    Miles Morales po ukąszeniu przez radioaktywnego pająka staje do walki z nikczemnym Kingpinem. </br>
                    Pomogą mu w tym Spider-Manowie z innych wymiarów.
                </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary" asp-controller="Movies" asp-action="Index">
                    Wypożycz już dziś 
                    </a>
                    </div>
                </div>
            </div>
            </div>
            </div>
     
