@{
    ViewData["Title"] = "Home Page";
}


    
    <div class="row">
            <div class="vertical-line col-1 d-flex">
                <div class="vl"></div>
            </div>

            <div class="col-11">
                <h1>Wypożycz film na DVD, jak za starych, dobrych czasów</h1>
            </div>
    </div>
        
    
    

