@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <nav>
            <ul class="nav-list">
                <li>
                    <a>Funiro.</a>
                </li>
                <li>
                    <button class="menus btn btn-secondary dropdown bg-transparent border-0" type="button">
                        Products
                        <i class="bi bi-chevron-compact-down"></i>
                    </button>
                    <button class="menus btn btn-secondary dropdown bg-transparent border-0" type="button">
                        Rooms
                        <i class="bi bi-chevron-compact-down"></i>
                    </button>
                    <button class="menus btn btn-secondary bg-transparent border-0" role="button">
                        Inspirations
                    </button>
                </li>
                <li>
                    <form class="d-flex " role="search">
                        <input class="search-bar form-control" type="search" placeholder="Search"
                               aria-label="Search">
                    </form>
                </li>
                <li>
                    <button class="btn btn-default btn-lg rounded-circle border-0" type="button">
                        <i class="likeIt bi bi-heart"></i>
                    </button>
                    <button class="btn btn-default btn-lg rounded-circle border-0" type="button">
                        <i class="shopingCart bi bi-cart3"></i>
                    </button>
                    <button class="btn btn-default btn-lg rounded-circle border-0" type="button">
                        <i class="memberIcon bi bi-person-circle" aria-hiden="true"></i>
                    </button>
                </li>
            </ul>
        </nav>
</div>
