@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    
        <a asp-controller="Users" asp-action="Create">
            <button class="btn btn-primary">
                Create user
            </button>
            </a>
    
    
</div>
