@model Projekt_WypozyczalniaFilmow.Models.Movie


@{
    ViewData["Title"] = "Create";
}

<div class="row movies-header d-flex">
    <div class="col-12 ">
        <a class="nav-link logo" asp-controller="Home" asp-action="Index">Logo</a>
    </div>
</div>

<h1 class="pt-4 pb-4">Create movie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                        @Html.LabelFor(m => m.Categories)
                        @Html.DropDownListFor(m => m.Categories, 
                                              Model.CategoryDropdownList, 
                                              "- Please select a state -", 
                                              new { @class = "form-control" })
                    </div>
            <div class="pt-4 form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>



