@{
    ViewData["Title"] = "MovieRentalPolicies";
}

<div class="row movies-header d-flex">
    <div class="col-12 ">
        <a class="nav-link logo" asp-controller="Home" asp-action="Index">Logo</a>
    </div>
</div>

<h1 class="pt-4 pb-4">Zasady wypożyczania filmów na naszej platformie</h1>

<h3 class="pb-3 pl-4">1. W jaki sposób wypożyczać filmy?</h3>
<p class="questions p-4">Aby wypożyczyć film, należy posiadać konto na naszej platformie. 
    Bez konta można tylko przeglądać filmy, aby zobaczyć czy posiadamy ten, który cię interesuje. 


    </p>

<h3 class="pb-3 pl-4">2. Jaka jest cena i na jaki czas?</h3>
<p class="questions p-4">- Czas wypożyczenia możesz ustalić przy wypożyczeniu określonego filmu. 
    Nie ma określonych ograniczeń co do oddania filmu.</br>
- Cena, która widnieje obok filmu jest ceną za jeden dzień wypożyczenia, niezależnie od godziny wypożyczenia. 
Znaczy to, że wypożyczając danego dnia  późnej godzinie i tak zostanie zaliczone to jako dzień pierwszy. 
Proszę więc Zwracać uwagę na godzinę wypożyczenia! </br>
- Po upływie terminu film zniknie z twojej listy wypożyczonych filmów.
</p>

