@model Projekt_WypozyczalniaFilmow.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="row movies-header d-flex">
    <div class="col-12 ">
        <a class="nav-link logo" asp-controller="Home" asp-action="Index">Logo</a>
    </div>
</div>

<h1 class="pt-4 pb-4">Your Profile</h1>

<div class="row" style="background-color: #32c0ff">
    <div class="col-12">
        Imię: @Html.DisplayFor(model => model.FirstName)
        
    </div>
    <div class="col-12">
        Nazwisko: @Html.DisplayFor(model => model.LastName)

    </div>
    <div class="col-12">
        Email: @Html.DisplayFor(model => model.Email)

    </div>
</div>
