@{
    ViewData["Title"] = "Login";
}

<div class="row movies-header d-flex">
    <div class="col-12 ">
        <a class="nav-link logo" asp-controller="Home" asp-action="Index">Logo</a>
    </div>
</div>

<h1 class="pt-4 pb-4">Your Profile</h1>

<div>

</div>
